h1{
    font-family: cursive;
}

p{
    font-family: cursive;
}
.contenedor-botones
    width: 100%;
    display: grid;
     grid-template-columns: repeat(8,Ifr);
     gap: 40px;

}

.boton{
       display: inline-flex;
       align-items:  center;
       align-content: center;
       justify-content: center;
       width:100%;
       height: 80px;
           
     
    